@inherits LayoutComponentBase

<PageTitle>GameShop</PageTitle>

<div class=" mb-5">
    <div class="col-12">
        <NavMenu />
    </div>

    <main>
        <article class="container px-4">
            @Body
        </article>
    </main>
</div>
